@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans-Semibold.woff2') format('woff2'),
        url('subset-OpenSans-Semibold.woff') format('woff'),
        url('subset-OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('subset-CenturyGothic.woff2') format('woff2'),
        url('subset-CenturyGothic.woff') format('woff'),
        url('subset-CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('subset-CenturyGothic-Bold.woff2') format('woff2'),
        url('subset-CenturyGothic-Bold.woff') format('woff'),
        url('subset-CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('subset-Ubuntu-Bold.woff2') format('woff2'),
        url('subset-Ubuntu-Bold.woff') format('woff'),
        url('subset-Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('subset-CenturyGothic-Italic.woff2') format('woff2'),
        url('subset-CenturyGothic-Italic.woff') format('woff'),
        url('subset-CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Benguiat Bk BT';
    src: url('subset-BenguiatITCbyBT-Bold.woff2') format('woff2'),
        url('subset-BenguiatITCbyBT-Bold.woff') format('woff'),
        url('subset-BenguiatITCbyBT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('subset-FuturaBT-Bold.woff2') format('woff2'),
        url('subset-FuturaBT-Bold.woff') format('woff'),
        url('subset-FuturaBT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Autobahn';
    src: url('subset-Autobahn.woff2') format('woff2'),
        url('subset-Autobahn.woff') format('woff'),
        url('subset-Autobahn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Corbel';
    src: url('subset-Corbel-Bold.woff2') format('woff2'),
        url('subset-Corbel-Bold.woff') format('woff'),
        url('subset-Corbel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lithograph';
    src: url('subset-Lithograph-Bold.woff2') format('woff2'),
        url('subset-Lithograph-Bold.woff') format('woff'),
        url('subset-Lithograph-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Serifa BT';
    src: url('subset-SerifaBT-Roman.woff2') format('woff2'),
        url('subset-SerifaBT-Roman.woff') format('woff'),
        url('subset-SerifaBT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nirmala UI';
    src: url('subset-NirmalaUI-Bold.woff2') format('woff2'),
        url('subset-NirmalaUI-Bold.woff') format('woff'),
        url('subset-NirmalaUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Blue Highway';
    src: url('subset-BlueHighway-Bold.woff2') format('woff2'),
        url('subset-BlueHighway-Bold.woff') format('woff'),
        url('subset-BlueHighway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Florencesans';
    src: url('subset-Florencesans-Bold.woff2') format('woff2'),
        url('subset-Florencesans-Bold.woff') format('woff'),
        url('subset-Florencesans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('subset-AvantGardeITCbyBT-Demi.woff2') format('woff2'),
        url('subset-AvantGardeITCbyBT-Demi.woff') format('woff'),
        url('subset-AvantGardeITCbyBT-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Humanst521 BT';
    src: url('subset-Humanist521BT-Roman.woff2') format('woff2'),
        url('subset-Humanist521BT-Roman.woff') format('woff'),
        url('subset-Humanist521BT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Souvenir Lt BT';
    src: url('subset-SouvenirITCbyBT-Light.woff2') format('woff2'),
        url('subset-SouvenirITCbyBT-Light.woff') format('woff'),
        url('subset-SouvenirITCbyBT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SquareFont';
    src: url('subset-SquareFont.woff2') format('woff2'),
        url('subset-SquareFont.woff') format('woff'),
        url('subset-SquareFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blue Highway D Type';
    src: url('subset-BlueHighwayDType.woff2') format('woff2'),
        url('subset-BlueHighwayDType.woff') format('woff'),
        url('subset-BlueHighwayDType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Action Man';
    src: url('subset-ActionMan-Bold.woff2') format('woff2'),
        url('subset-ActionMan-Bold.woff') format('woff'),
        url('subset-ActionMan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotMaryKate';
    src: url('subset-NotMaryKate.woff2') format('woff2'),
        url('subset-NotMaryKate.woff') format('woff'),
        url('subset-NotMaryKate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humanst521 BT';
    src: url('subset-Humanist521BT-Bold.woff2') format('woff2'),
        url('subset-Humanist521BT-Bold.woff') format('woff'),
        url('subset-Humanist521BT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ZapfEllipt BT';
    src: url('subset-ZapfElliptical711BT-Bold.woff2') format('woff2'),
        url('subset-ZapfElliptical711BT-Bold.woff') format('woff'),
        url('subset-ZapfElliptical711BT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kabel Bk BT';
    src: url('subset-KabelITCbyBT-Book.woff2') format('woff2'),
        url('subset-KabelITCbyBT-Book.woff') format('woff'),
        url('subset-KabelITCbyBT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nirmala UI';
    src: url('subset-NirmalaUI.woff2') format('woff2'),
        url('subset-NirmalaUI.woff') format('woff'),
        url('subset-NirmalaUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bremen Bd BT';
    src: url('subset-BremenBT-Bold.woff2') format('woff2'),
        url('subset-BremenBT-Bold.woff') format('woff'),
        url('subset-BremenBT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Medrano';
    src: url('subset-Medrano.woff2') format('woff2'),
        url('subset-Medrano.woff') format('woff'),
        url('subset-Medrano.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serifa BT';
    src: url('subset-SerifaBT-Italic.woff2') format('woff2'),
        url('subset-SerifaBT-Italic.woff') format('woff'),
        url('subset-SerifaBT-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Leelawadee UI';
    src: url('subset-LeelawadeeUI-Bold.woff2') format('woff2'),
        url('subset-LeelawadeeUI-Bold.woff') format('woff'),
        url('subset-LeelawadeeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Buttacup Lettering';
    src: url('subset-SFButtacupLettering-BoldOblique.woff2') format('woff2'),
        url('subset-SFButtacupLettering-BoldOblique.woff') format('woff'),
        url('subset-SFButtacupLettering-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tapeworm';
    src: url('subset-Tapeworm.woff2') format('woff2'),
        url('subset-Tapeworm.woff') format('woff'),
        url('subset-Tapeworm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serifa BT';
    src: url('subset-SerifaBT-Bold.woff2') format('woff2'),
        url('subset-SerifaBT-Bold.woff') format('woff'),
        url('subset-SerifaBT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BabelSans';
    src: url('subset-BabelSans.woff2') format('woff2'),
        url('subset-BabelSans.woff') format('woff'),
        url('subset-BabelSans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gadugi';
    src: url('subset-Gadugi-Bold.woff2') format('woff2'),
        url('subset-Gadugi-Bold.woff') format('woff'),
        url('subset-Gadugi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Whatafont';
    src: url('subset-Whatafont.woff2') format('woff2'),
        url('subset-Whatafont.woff') format('woff'),
        url('subset-Whatafont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('subset-AvantGardeITCbyBT-DemiOblique.woff2') format('woff2'),
        url('subset-AvantGardeITCbyBT-DemiOblique.woff') format('woff'),
        url('subset-AvantGardeITCbyBT-DemiOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GoudyOlSt BT';
    src: url('subset-GoudyOldStyleBT-Bold.woff2') format('woff2'),
        url('subset-GoudyOldStyleBT-Bold.woff') format('woff'),
        url('subset-GoudyOldStyleBT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junegull';
    src: url('subset-Junegull.woff2') format('woff2'),
        url('subset-Junegull.woff') format('woff'),
        url('subset-Junegull.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BabelSans';
    src: url('subset-BabelSans-Bold.woff2') format('woff2'),
        url('subset-BabelSans-Bold.woff') format('woff'),
        url('subset-BabelSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('subset-FuturaBT-Light.woff2') format('woff2'),
        url('subset-FuturaBT-Light.woff') format('woff'),
        url('subset-FuturaBT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Humanst521 BT';
    src: url('subset-Humanist521BT-Bold.woff2') format('woff2'),
        url('subset-Humanist521BT-Bold.woff') format('woff'),
        url('subset-Humanist521BT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Buttacup Lettering';
    src: url('subset-SFButtacupLettering.woff2') format('woff2'),
        url('subset-SFButtacupLettering.woff') format('woff'),
        url('subset-SFButtacupLettering.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('subset-AvantGardeITCbyBT-Book.woff2') format('woff2'),
        url('subset-AvantGardeITCbyBT-Book.woff') format('woff'),
        url('subset-AvantGardeITCbyBT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Frigate';
    src: url('subset-SpaceFrigate.woff2') format('woff2'),
        url('subset-SpaceFrigate.woff') format('woff'),
        url('subset-SpaceFrigate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whatafont Expanded';
    src: url('subset-WhatafontExpanded.woff2') format('woff2'),
        url('subset-WhatafontExpanded.woff') format('woff'),
        url('subset-WhatafontExpanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

